transformers
datasets
accelerate
deepspeed==0.14.0
evaluate
matplotlib
hydra-core
omegaconf
peft
rouge_score
tqdm
matplotlib
einops
packaging
bitsandbytes
scipy
ninja
sentencepiece
protobuf
wandb
google-generativeai
openai